@{
    ViewData["Title"] = "Home Page";
}


    <div class="row d-flex align-items-center">
        <div class="col-md-6 ">
            <div class="">
                <h1>Empower progress. Spark potential.</h1>
            </div>
         
            <p class="lead">improves school operations, fosters better student outcomes, and creates the greatest generation of educators,
            so they can create the greatest generation of students.</p>

            <a class="btnSubmit px-5 py-2 mt-5" asp-action="Register" asp-controller="Account">Sign Up</a>
        </div>

        <div class="col-md-6">
            <img  src="~/Images/undraw_back_to_school_inwc.svg" class="img-fluid"/>
        </div>
    </div>



